{% extends 'base.html' %}
{% load static %}

{% block title %}
    OCR
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container text-center">
            <br>
            <br>
            <br>
            {% if success %}
                <a href="{{ file_form.url }}" class="btn btn-primary btn-lg" role="button"
                   aria-disabled="false">Download
                    Translated
                    File</a>
            {% endif %}
            <h1>File Upload</h1>
            <div class="row">
                <form action="./" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="formFileLg" class="form-label">Upload FIle to OCR</label>
                        {{ file_form.my_file.errors }}
                        {{ file_form.my_file }}
                    </div>

                    <div class="mb-3">
                        <label for="source_language" class="form-label">Source Language</label>
                        {{ language_form.short_code.errors }}
                        {{ language_form.short_code }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
            <br>


        </div>
    </div>

{% endblock %}