{% extends 'base.html' %}
{% load static %}

{% block title %}
    Translate
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container text-center">
            <h1>File Upload</h1>
            <br>
            <div class="row">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="formFileLg" class="form-label">Upload FIle to Translate</label>
                        <input name="my_file" class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>

                    <div class="mb-3">
                        <label for="source_language" class="form-label">Source Language</label>
                        <select id="source_language" name="source_language" class="form-select">
                            <option value="en">EN</option>
                            <option value="bn">BN</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="destination_language" class="form-label">Target language</label>
                        <select id="destination_language" name="destination_language" class="form-select">
                            <option value="en">EN</option>
                            <option value="bn">BN</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
            <br>
            <a href="{{ file.url }}" class="btn btn-primary btn-lg" role="button"
               aria-disabled="false">Download
                Translated
                File</a>
        </div>
    </div>

{% endblock %}