{% extends 'base.html' %}
{% load static %}

{% block title %}
    Translate
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1> Show the image</h1>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="formFileLg" class="form-label">Upload FIle to Translate</label>
                    <input name="my_file" class="form-control form-control-lg" id="formFileLg" type="file">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

                <br>
                <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="false">Download Translated
                    File</a>
            </div>

{% endblock %}